@import url('https://fonts.googleapis.com/css2?family=Antic&family=Gruppo&family=Poiret+One&display=swap');


body {
  margin: 0;  
  font-family: 'Antic', sans-serif;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
